.Todos .TodoInput {
  margin-bottom: 30px;
}

.TodoStats {
  padding: var(--padding-medium);
  border-bottom: 1px solid lightgrey;
}

.TodoList {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: var(--border-radius);
}

.TodoItem {
  width: 100%;
  padding: var(--padding-large);
  display: flex;
  align-items: center;

}

.TodoItem.Completed {
  text-decoration: line-through;
  color: lightgrey;
}

.TodoItem:not(:last-of-type) {
  margin-top: -1px;
  border-bottom: 1px solid lightgrey;
}

.TodoItem:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, .3);
}

.TodoInput {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid lightgrey;
  border-radius: var(--border-radius);
  padding: var(--padding-large);
}

.TodoInput input {
  font-size: 18px;
}

.RoundedCheckbox {
  margin-right: 10px;
}

.TodoPlaceholder {
  text-align: center;
  font-size: 24px;
}
